[Desktop Entry]
Name=Sonofman
Exec=som
Type=Application
Icon=org.hlwd.sonofman
Terminal=true
Keywords=Bible;Biblia;Bíblia;Bibbia;Bibel;Terminal;Reading;NCurses;Python;Jesus;sonofman;termux;cygwin;mac;windows;chinese;russian;japanese;arabic;hindi;german;
