[Desktop Entry]
Name=Sonofman
Exec=som
Type=Application
Icon=org.hlwd.sonofman
Terminal=true
Keywords=Bible;Biblia;Bíblia;Bibbia;Bibel;Terminal;multi;language;study;education;Reading;NCurses;Python;Jesus;Jésus;platform;religion;christian;kjv;historical;save;search;sonofman;termux;cygwin;mac;windows;linux;android;french;italian;spanish;portuguese;chinese;russian;japanese;arabic;hindi;german;russian;polish;romanian;gpl;gpl3;
